:80 {
	reverse_proxy app:8080

	header {
		Access-Control-Allow-Origin *
		Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
		Access-Control-Allow-Headers "Content-Type, X-API-Key"
	}

	@options method OPTIONS
	handle @options {
	.respond 204
	}
}
